
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, input {
  font-size: 20px;
}

body {
  padding: 1.0em;
}

input {
  vertical-align: middle;
}

input[type=text] {
  width: 50%;
}

fieldset {
  padding: 1.0em;
  margin-bottom: 2.0em;
}

.ui-autocomplete-loading {
			background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
		}